include ../partials/header.pug
script.
  const party = !{JSON.stringify(party)}
  const apiUrl = !{JSON.stringify(apiUrl)}
  const url =!{JSON.stringify(url)}
main.main
  div.title
    p.title__label QPQ
  section.card
    h2.event__title= party.name
    h3.event__subtitle Créé par #{party.author}

    div.form__field.form__field--inline
      label(for="url") Partagez l'événement
      div.inline__field
        input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`)
    a(href=`${googleAgendaLink}` target="_blank").link__button--simple.link__button--google Ajouter à Google Agenda

    h2.card__title Qui Prend Quoi ?
    div.items__container

    //-Prblm : prévoir une sécurité quand un item est déjà existant dans la liste
    form(method="post" action=`${url}/items`).form--inline
      div.form__field.form__field--text
        input(name="name" id="name" required)
        span.highlight
        span.bar
        label(for="name") Ajouter un item
        //- Hidden input because user is empty by default
        input(name="user" type="hidden" value="EMPTY_USER")
      button(type="submit").inline__button Ajouter