include ../partials/header.pug
script.
  const party = !{JSON.stringify(party)}
  const apiUrl = !{JSON.stringify(apiUrl)}
  const url =!{JSON.stringify(url)}
h1 Qui prend quoi ?
main.main
  h2= party.name
  h3 Créé par #{party.author}

  div.sharing
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`)
    a(href=`${googleAgendaLink}` target="_blank") Ajouter à Google Agenda

  div.items__container
    each item in party.items
      div.newItems__grid
        li.col-1= item.name

        if item.user
          form(method="post" action=`${url}/items/${item._id}/user`).col-2
            input(name="user" id="user" value=`${item.user}`)
        else
          form(method="post" action=`${url}/items/${item._id}/user`).col-2
            input(name="user" id="user" placeholder="Qui prend ?")
        
        form(method="post" action=`${url}/items/${item._id}/delete`).col-3
          button(type="submit").deleteItem__button Supprimer
  //- Initial items list
    each item in party.items
      div.newItems__grid
        li.col-1= item.user
        li.col-2= item.name
        form(method="post" action=`${url}/items/${item._id}/delete`).col-3
          button(type="submit").deleteItem__button Supprimer

  form(method="post" action=`${url}/items`).newItems__grid--form
    input(name="name" id="name" required placeholder="Ajouter un item")
    button(type="submit").newItem__button.col-3 Ajouter 

//- Initial form
  form(method="post" action=`${url}/items`).newItems__grid.newItems__grid--form
    label(for="user").col-1 Participant
    input(name="user" id="user" required placeholder="Manu").col-1
    label(for="name").col-2 Ajouter un item
    input(name="name" id="name" required placeholder="Champagne").col-2
    button(type="submit").newItem__button.col-3 Ajouter